
<h1>SELL YOU CAR HERE</h1>
<br>
<p>ADD SOME INFO ABOUT YOUR CAR</p>


<br>
<form action="/cars/create-car" method="post">

<div>
<label for="make">CAR MAKE</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="text" name="make" id="make">
</div>
<br>
<div>
<label for="model">CAR MODEL</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="text" name="model" id="model">
</div>
<br>
<div>
<label for="year">CAR YEAR</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="text" name="year" id="year">
</div>
<br>
<div>
<label for="imageUrl">IMAGE1</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="text" name="imageUrl" id="imageUrl">
</div>
<br>
<div>
<label for="imageUrl1">IMAGE2</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="text" name="imageUrl1" id="imageUrl1">
</div>
<br>
<div>
<label for="imageUrl2">IMAGE3</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="text" name="imageUrl2" id="imageUrl2">
</div>
<br>
<div>
<label for="details">CAR DETAILS</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails" type="text" name="details" id="details">
</div>
<br>


<button class="createBtn" type="submit">Create Car</button>
    
</form>
<br>

{{#if message}}
<p class="message">{{message}}</p>
{{/if}}