
<h1>SELL YOU CAR HERE</h1>
<br>
<p>ADD SOME INFO ABOUT YOUR CAR</p>


<br>
<form action="/cars/create-car" method="post" enctype="multipart/form-data">

<div>
<label for="make">CAR MAKE</label>
<input class="inputDetailsCarMake" type="text" name="make" id="make">
</div>
<br>
<div>
<label for="model">CAR MODEL</label>
<input class="inputDetailsCarModel" type="text" name="model" id="model">
</div>
<br>
<div>
<label for="year">CAR YEAR</label>
<input class="inputDetailscCarYear" type="text" name="year" id="year">
</div>
<br>
<div>
<label for="imageUrl">IMAGES</label>
<input class="inputDetailsCarImages" type="file" name="imageUrl" id="imageUrl" multiple>
<br><p class="multipleImages" >You can upload multiple images at once</p>
</div>
{{!-- <br>
<div>
<label for="imageUrl1">IMAGE2</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="file" name="imageUrl" id="imageUrl1">
</div>
<br>
<div>
<label for="imageUrl2">IMAGE3</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="inputDetails1" type="file" name="imageUrl" id="imageUrl2">
</div> --}}
<br>
<div>
<label class="carDetailsLabel" for="details">CAR DETAILS</label>
<textarea class="inputDetails" type="text" name="details" id="details" cols="30" rows="4"></textarea>
</div>
<br>


<button class="createBtn" type="submit">Create Car</button>
    
</form>
<br>

{{#if message}}
<p class="message">{{message}}</p>
{{/if}}