<h1>EDIT YOUR CAR</h1>
<form action="/cars/{{_id}}/edit-car" method="post">

{{!-- <div>
    <label class="editLabel" for="name">Name</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="editInput" type="text" name="name" id="name" value="{{name}}">
</div>
<br> --}}
<div>
<label for="imageUrl">IMAGES</label>
<input class="inputDetails1" type="file" name="imageUrl" id="imageUrl" multiple>
<br><p class="multipleImages" >You can upload multiple images at once</p>
</div>

<br>
<div>
    <label class="editLabel"  for="details">Update Car Details</label>
    &nbsp;&nbsp;&nbsp;&nbsp;<textarea class="editInput1" type="text" name="details" id="details" value="{{details}}" cols="30" rows="4"></textarea>
</div>

<br>
    <button class="editBtn" type="submit">Edit Car</button>

</form>