
   <h1 class="safetyTitles">SAFETY FIRST</h1>
<p>FIND OUT HOW SAFE YOUR NEXT CAR IS</p>
   
<br>
<form action = "/auth/searchCar" method = "GET">
<label for="carMake">Car make</label>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="carMakelInput" name="carMake" placeholder="Example Audi">
<br><br>
<label for="carModel">Car model</label>
&nbsp;&nbsp;&nbsp;<input type="text" class="carModelInput" name="carModel" placeholder="Example A4">
<br><br>
<label for="carYear">Car year</label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="carYearInput" name="carYear" placeholder="Example 2019">
<br><br>
<button class="searchButton" type= "submit">Search</button>
</form>

<p><a href="/cars/cars-list">Or click here to see your cars</a></p>


