<div class="container">
    <h1>Profile Page</h1> 
<p>Username:{{user.userNameInput}}</p>
    <h1 class="title">Type you car</h1>

<form action = "/searchCar" method = "GET">
<label>
<input type="text" class="carInput" name="carYear" placeholder="Enter a car name">
</label>
<button class="searchButton" type= "submit">Search</button>
</form>
</div>