<form action="/reviews/{{carId}}/add-reviews" method="post">
<label  for="">Add a comment for the selected car</label>
<br><br>

<input class="reviewComment" type="text" name="comment" id="comment">
<br>
<button class="reviewBtnPage" type="submit">Submit comment</button>

</form>