<form action="/reviews/{{carId}}/add-reviews" method="post">
<label  for="">Add a comment for the selected car</label>
<br><br>

<textarea class="reviewComment" type="text" name="comment" id="comment" cols="30" rows="4"></textarea>
<br>
<button class="reviewBtnPage" type="submit">Submit comment</button>

</form>