


<h1>LOG IN</h1>

<form action="/auth/login" method="post">

<div>
    <label for="userName">USERNAME</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="userName" name="userName" id="userName"/>
</div>
<br>
<div>
    <label for="passwordInput">PASSWORD</label>
   &nbsp;&nbsp;&nbsp;&nbsp; <input type="password" name="password" id="passwordInput"/>
</div>
<br>

<button class="loginBtnPage" type="submit">Log in</button>

</form>
<br>
{{#if message}}
<p class="message">{{message}}</p>
{{/if}}


